body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    padding: 80px;
    border-radius: 20px;
}

.center h1{
    text-align: center;
}

.center p{
    font-size: 15px;
    color: #707070;
}