body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}


.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    border-radius: 50px !important;
    padding: 25px !important;
}

.container{
    background-color: #FFFFFF;
    padding: 80px;
    border-radius: 20px;
}

.center h1{
    text-align: center;
}

.center p{
    font-size: 15px;
    color: #707070;
}

