@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
   background-color: #EEEEEE;
}

.card{
    width: 55vw;
}

#loading-spinner{
    display: none;
   
}


#loading-spinner-small{
    display: none;
}

.error-message{
    display: none;
    margin-top: 10px;
    color: red !important;
    font-size: 14px;
}

#email-dialog{
    display: none;
}
